body {
    background-color: rgb(218, 224, 233);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.carousel-item {
    height: 550px;  
}
     