body {
    background-image: url("./images/croissantsmall.jpg");
    background-repeat: repeat;
    background-color: ivory;  
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap');

.header {
    text-align: center;
    font-size: 25px 
  }

  h2 {
font-family: 'Times New Roman', Times, serif
  }

  footer { 
      text-align: center;
  }


 
 
  
 

 

  

 


